main{
  position: absolute;
  top: 6vh;
  left: 5vw;
  width: 90%;
  height: 94vh;
  background-color: rgb(240, 240, 240);
  /*overflow-y: auto;*/
}
  main>h2{
    margin: 2vh 1vw 0;
  }
  main>h3{
    margin: 0 1vw 2vh;
  }
  .lreg{
    display: flex;
    justify-content: space-around;
  }
    .left, .right{
      width: 50%;
      padding: 1vh 1vw;
    }
      .left>h3, .right>h3{
        text-align: center;
      }
      .left>a{
        display: block;
        text-align: left;
      }
      .left .review{
        height: 73vh;
        overflow-y: auto;
      }
      .left .review>*{
        margin: 1vh 0 1vh 2vw;
        font-size: 1rem;
      }
      .left .review .rating{
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .left .review .rating>div{
        width: 88%;
        display: flex;
        justify-content: space-between;
      }
      .left .review .rating div>span{
        background-color: rgb(34, 34, 34);
        border-radius: 1rem;
        padding: 0.25vh 1vw;
      }
      .left .review .rating div>a{
        font-size: 0.85rem;
      }
      .left .selected{
        color: gold;
        font-size: 1.3rem;
      }
      .left .notselected{
        color: rgb(240, 240, 240);
        font-size: 1.3rem;
      }
      .left em{
        text-decoration: underline;
        margin-right: 1vw;
        font-weight: bold;
      }
    .right>form{
      border: 1px solid rgb(34, 34, 34);
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      font-size: 1.2rem;
      text-align: center;
      padding: 1vh 1vw;
    }
      .right>form>label{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 1vh auto;
      }
        .right>form>label>p{
          width: 20%;
          text-align: right;
          padding-right: 1vw;
        }
        .right>form>label>textarea{
          width: 80%;
          height: 10vh;
          overflow-y: auto;
          padding: 1vh 1vw;
          resize: none;
          text-align: justify;
        }
        .right>form>label .book_rating{
          display: flex;
          align-items: center;
          width: 80%;
          font-size: 1.2rem;
        }
          .right>form>label .book_rating>span{
            width: auto;
            margin: 0 1vw;
          }
          .right>form>label .book_rating>input[type='radio']{
            width: auto;
          }
            .book_rating>input[type='radio']:default{
              display: none;
            }
      .right>form>input[type='submit']{
        display: block;
        width: 40%;
        padding: 1vh 1vw;
        margin: auto 0 auto auto;
        font-size: 1rem;
      }
      .err{
        background-color: rgb(34, 34, 34);
        color: red;
        font-style: italic;
        padding: 0 1vw;
        width: 80%;
        margin: auto 0 auto auto;
      }
