<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Book Review | Home</title>

    <link href="https://fonts.googleapis.com/css?family=Coda" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <!-- <link rel="stylesheet" href="..\static\css\common.css"> -->
    <!-- <link rel="stylesheet" href="..\static\css\home.css"> -->
  </head>
  <body>
    <header>
      <h1>Book Reviews</h1>
      {% if session['user_id'] %}
        <h3><a href="/books">Home</a></h3>
        <h3><a href="/books/add">Add Book and Review</a></h3>
        <h3><a href="/logout">Log Out</a></h3>
      {% endif %}
    </header>
    <main>
      <h2>Welcome {{ session['user_alias'] }}</h2>
      <div class="lreg">
        <div class="left">
          <h3>Recent Book Reviews:</h3>
          <hr />
          <div class="review">
          {% for review in session['recent_reviews'] %}
            <a href="/books/{{ review['book_id'] }}">{{ review['book_name'] }}</a>
              <div class="rating">
                <em>Rating: </em><span>
                {% for x in range(review['book_rating']) %}
                  <span class="selected">&#9733;</span>
                {% endfor %}
                {% for x in range(5 - review['book_rating']) %}
                  <span class="notselected">&#9734;</span>
                {% endfor %}
                </span>
              </div>
              <p><em><a href="/users/{{ review['user_id'] }}">{{ review['user_alias'] }}</a> says: </em>{{ review['review'] }}</p>
              <p><em>Posted on: </em> {{ review['date'] }}</p>
            <hr />
          {% endfor %}
        </div>
        </div>
        <div class="right">
          <h3>Books with Reviews:</h3>
          <div>
            {% for book in session['reviewed_books'] %}
              <a href="/books/{{ book['id'] }}">{{ book['title'] }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
